/* Dream Come True Section */

@font-face {
  font-family: Arlita;
  src: url("../font/Arlita.otf");
}

body {
  background: #090601;
}

:root {
  --primary-color: #f1e28c;
  --secondary-color: #090601;
  --text-color: #f6f5f1;
  --grad: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color),
    var(--primary-color)
  );
}

a {
  display: inline-block;
}

.container {
  max-width: 1489px;
}

.left-line,
.right-line {
  max-width: 783px;
}

.left-line > img,
.right-line > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.subtitle {
  background: var(--grad);
  border-radius: 16px;
  padding: 1px;
}

.subtitle > span {
  height: 100%;
  width: 100%;
  padding: 14px 58px;
  background: var(--secondary-color);
  border-radius: 16px;
  text-wrap: nowrap;
  color: var(--text-color);
}

.drm-cm-tru-card {
  padding-block: 91px;
}

.card {
  max-width: 451px;
  height: 554px;
  position: relative;
  background: transparent;
  margin-bottom: 80px;
}

.card > img {
  border-radius: 26px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-content {
  position: absolute;
  background: var(--secondary-color);
  bottom: -60px;
  left: 0;
  right: 0;
  padding: 35px 0 77px;
  text-align: center;
  border-radius: 26px;
  border: 1px solid rgba(219, 199, 97, 36%);
  color: var(--text-color);
}

.card-content > a {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  border: 1px solid rgba(219, 199, 97, 36%);
  border-radius: 36px 36px 0 0;
}

.card-content > a::after,
.card-content > a::before {
  content: "";
  position: absolute;
  height: 36px;
  width: 36px;
  border: solid rgba(219, 199, 97, 36%);
  border-width: 0 0 1px;
}

.card-content > a::after {
  bottom: -2px;
  right: -36px;
  border-radius: 0 0 0 22px;
  box-shadow: -8px 16px 0 var(--secondary-color);
  pointer-events: none;
}

.card-content > a::before {
  bottom: -2px;
  left: -36px;
  border-radius: 0 0 26px 0;
  border: solid rgba(219, 199, 97, 36%);
  border-width: 0 1px 1px 0;
  background: transparent;
  box-shadow: 8px 17px 0 var(--secondary-color);
}

.card-content > a > span {
  padding: 16px 26px;
  border: 1px solid rgba(219, 199, 97, 36%);
  border-radius: 50px;
  font-family: Arlita, sans-serif;
  color: var(--text-color);
  gap: 20px;
  box-shadow: 0 30px 0 var(--secondary-color);
  text-wrap: nowrap;
}

/* Join Our Aviation Club Section */

.join-our-sec-img {
  max-width: 696px;
  height: 704px;
  position: relative;
}

.join-our-sec-img::after {
  content: "";
  position: absolute;
  height: 344px;
  width: 349px;
  background: var(--secondary-color);
  right: 0;
  top: 0;
  border-radius: 0 0 0 75px;
}

.join-our-sec-img::before {
  content: "";
  position: absolute;
  height: 344px;
  width: 349px;
  background: var(--secondary-color);
  left: 0;
  bottom: 0;
  border-radius: 0 75px 0 0;
}

.join-our-sec-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 75px;
}

.rb-overlay {
  height: 88px;
  width: 92px;
  background: transparent;
  position: absolute;
  right: calc(696px - 349px);
  border-radius: 0 75px 0 0;
  box-shadow: 22px -29px 0 var(--secondary-color);
}

.drm-tru-btn {
  text-align: center;
}

.primary-btn {
  gap: 20px;
  width: fit-content;
  background: var(--grad);
  border-radius: 50px;
  padding: 1px;
  overflow: hidden;
  color: var(--primary-color);
  text-decoration: none;
  position: relative;
}
.primary-btn span {
  padding: 21px 29px;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 50px;
  background: var(--secondary-color);
}

.primary-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 0;
  background: var(--grad);
  transform-origin: left;
  transition: all 0.5s linear;
}

.primary-btn span {
  position: relative;
  z-index: 2;
}

.primary-btn:hover::before {
  right: auto;
  left: 0;
  width: 100%;
}

/* When mouse leaves, collapse toward right */
.primary-btn:not(:hover)::before {
  transform-origin: right !important; /* shrink toward right */
}

.shine {
}
