/* Dream Come True Section */

body {
  background: #090601;
}

:root {
  --primary-color: #f1e28c;
  --secondary-color: #090601;
  --text-color: #f6f5f1;
}

.container {
  max-width: 1489px;
}

.left-line,
.right-line {
  max-width: 783px;
}

.left-line > img,
.right-line > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.subtitle {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color),
    var(--primary-color)
  );
  border-radius: 16px;
  padding: 1px;
}

.subtitle > span {
  height: 100%;
  width: 100%;
  padding: 14px 58px;
  background: var(--secondary-color);
  border-radius: 16px;
  text-wrap: nowrap;
  color: var(--text-color);
}
